@model Penates.Models.ViewModels.Forms.ExternalBoxViewModel
@{
}

<!doctype html>
<html>
<head>
    <title>@Html.Resource("Title")</title>
    <meta charset="utf-8">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-background.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-extension.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui-extension.css" rel="stylesheet" />
    <script src="~/Scripts/Plugins/autocomplete.js"></script>

    <script type="text/javascript" title="Save Form Data">
    $(document).ready(function () {
        $(window).on('beforeunload', function () {
            if ($("#IsWaste").is(':checked')) {
                sessionStorage.setItem('IsWaste', "true");
            } else {
                sessionStorage.setItem('IsWaste', "");
            }
            if ($("#Reevaluate").is(':checked')) {
                sessionStorage.setItem('Reevaluate', "true");
            } else {
                sessionStorage.setItem('Reevaluate', "");
            }
            if ($("#Reserved").is(':checked')) {
                sessionStorage.setItem('Reserved', "true");
            } else {
                sessionStorage.setItem('Reserved', "");
            }
            if ($("#Transit").is(':checked')) {
                sessionStorage.setItem('Transit', "true");
            } else {
                sessionStorage.setItem('Transit', "");
            }
            sessionStorage.setItem('StatusDescription', $('#StatusDescription').val());
            sessionStorage.setItem('StatusID', $('#StatusID').val());
            sessionStorage.setItem('PackID', $('#PackID').val());
            sessionStorage.setItem('PackSerialCode', $('#PackSerialCode').val());
        });
    });
    </script>

    <script type="text/javascript" title="Load Form Data">
        $(document).ready(function () {
            var aux = sessionStorage.getItem('IsWaste');
            if (aux != null && aux != "") $("#IsWaste").attr("checked", "checked");
            aux = sessionStorage.getItem('Reevaluate');
            if (aux != null && aux != "") $("#Reevaluate").attr("checked", "checked");
            aux = sessionStorage.getItem('Reserved');
            if (aux != null && aux != "") $("#Reserved").attr("checked", "checked");
            aux = sessionStorage.getItem('Transit');
            if (aux != null && aux != "") $("#Transit").attr("checked", "checked");
            aux = sessionStorage.getItem('StatusDescription');
            if (aux != null && aux != "") $('#StatusDescription').val(aux);
            aux = sessionStorage.getItem('StatusID');
            if (aux != null && aux != "") $('#StatusID').val(aux);
            aux = sessionStorage.getItem('PackID');
            if (aux != null && aux != "") $('#PackID').val(aux);
            aux = sessionStorage.getItem('PackSerialCode');
            if (aux != null && aux != "") $('#PackSerialCode').val(aux);
        });
    </script>
    <script type="text/javascript" title="Rack Autocomplete">
    $(document).ready(function () {
        $("#PackSerialCode").autocompletar({
            url: '@Url.Action("Autocomplete", "PacksABM")',
            params: globalParams.array,
            seleccion: function (event, ui) {
                $('#PackSerialCode').val(ui.item.label);
                $('#PackID').val(ui.item.id);
                globalParams.addParam("PackID", ui.item.id);
                sessionStorage.setItem("PackID", ui.item.id);
                sessionStorage.setItem("PackSerialCode", ui.item.label);
                return false;
            },
            keyup: function (event, ui) {
                var valor = $("#PackSerialCode").val();
                if (valor == null || valor == "") {
                    $("#PackID").val("");
                    globalParams.deleteParam("PackID");
                    sessionStorage.setItem("PackID", "");
                    sessionStorage.setItem("PackSerialCode", "");
                }
            }
        });
    });
    </script>
</head>

<body>
    <div class="container">
        <h2>@Html.Resource("Title")</h2>
        <form class="form-horizontal" id="box-form" action="@Url.Action("ExternalSave", "BoxForm")" autocomplete="on" method="post" enctype="multipart/form-data">
            @Html.ValidationMessageFor(m => m.error)
            @Html.AntiForgeryToken()
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    @Html.LabelFor(m => m.BoxID, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.BoxID, new { @class = "form-control", disabled = "disabled" })
                        <div hidden="hidden">
                            @Html.TextBoxFor(m => m.BoxID, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.BoxID)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductID, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.ProductID, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProductName, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AdquisitionDate, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.AdquisitionDate, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Quantity, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BuyerCost, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.BuyerCost, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UnitCost, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.UnitCost, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PackSerialCode, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.PackSerialCode, new { @class = "form-control"})
                        <div hidden="hidden">
                            @Html.TextBoxFor(m => m.PackID, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.PackID)
                </div>
                <fieldset>
                    <legend>@Html.Resource("BoxStatusInfo")</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">* @Html.DisplayNameFor(m => m.StatusDescription):</label>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(model => model.StatusID, Model.StatusList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                            <div class="col-lg-4">
                                <label>
                                    @Html.CheckBoxFor(m => m.IsWaste) @Html.DisplayNameFor(m => m.IsWaste)
                                </label>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <label>
                                @Html.CheckBoxFor(m => m.Reevaluate) @Html.DisplayNameFor(m => m.Reevaluate)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <label>
                                @Html.CheckBoxFor(m => m.Reserved) @Html.DisplayNameFor(m => m.Reserved)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <label>
                                @Html.CheckBoxFor(m => m.Transit) @Html.DisplayNameFor(m => m.Transit)
                            </label>
                        </div>
                    </div>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>@Html.Resource("LocationInfo")</legend>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DistributionCenterID, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.DistributionCenterID, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </fieldset>
                <!-- Size Info -->
                <fieldset id="product-form-sizeinfo" name="product-form-sizeinfo">
                    <legend>@Resources.FormsResources.SizeInfo:</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@Resources.FormsResources.Depth:</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Depth, "{0:F2}", new { @class = "form-control", disabled = "disabled" })
                                <span class="input-group-addon">cm</span>
                            </div>
                            @Html.ValidationMessageFor(m => m.Depth)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">* @Resources.FormsResources.Width:</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Width, "{0:F2}", new { @class = "form-control", disabled = "disabled" })
                                <span class="input-group-addon">cm</span>
                            </div>
                            @Html.ValidationMessageFor(m => m.Width)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">* @Resources.FormsResources.Height:</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Height, "{0:F2}", new { @class = "form-control", disabled = "disabled" })
                                <span class="input-group-addon">cm</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">* @Resources.FormsResources.Size:</label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Size, "{0:F2}", new { @class = "form-control", disabled = "disabled" })
                                <span class="input-group-addon">cm3</span>
                            </div>
                            @Html.ValidationMessageFor(m => m.Size)
                        </div>
                    </div>
                    <br>
                </fieldset>
                <fieldset>
                    <label></label>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success" id="Save" value="SubmitCategory" name="action:Save">@Resources.FormsResources.Save</button>
                            @Html.ActionLink(@Resources.FormsResources.Cancel, "Index", "BoxesABM", null, new { @class = "btn btn-default", @id = "Cancel" })
                        </div>
                    </div>
                </fieldset>
            </fieldset>
        </form>
    </div>
</body>
</html>
