@model Penates.Models.ViewModels.DC.RackViewModel

@{

}
<!doctype html>
<html>
<head>
    <title>@Html.Resource("Title")</title>
    <meta charset="utf-8">
    <link href="~/Content/forms/images-sizes.css" rel="stylesheet" /> <!--Para hacer resize de las Imagenes-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-background.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-extension.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h2>@Html.Resource("Title")</h2>
        <div class="form-horizontal" id="deposit-form">
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.RackID):</label>
                    <div class="col-lg-4">
                        <p>@Model.RackID</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.RackCode):</label>
                    <div class="col-lg-4">
                        <p>@Model.RackCode</p>
                    </div>
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Description):</label>
                    <div class="col-lg-4">
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.DistributionCenter):</label>
                    <div class="col-lg-4">
                        <p>@Model.DistributionCenter</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.DepositID):</label>
                    <div class="col-lg-4">
                        <p>@Model.DepositID</p>
                    </div>
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.DepositName):</label>
                    <div class="col-lg-4">
                        <p>@Model.DepositName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.SectorID):</label>
                    <div class="col-lg-4">
                        <p>@Model.SectorID</p>
                    </div>
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.SectorName):</label>
                    <div class="col-lg-4">
                        <p>@Model.SectorName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.HallID):</label>
                    <div class="col-lg-4">
                        <p>@Model.HallID</p>
                    </div>
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.HallName):</label>
                    <div class="col-lg-4">
                        <p>@Model.HallName</p>
                    </div>
                </div>

                <!-- Size Info -->
                <fieldset id="product-form-sizeinfo" name="product-form-sizeinfo">
                    <legend>@Resources.FormsResources.SizeInfo:</legend>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">* @Resources.FormsResources.Depth:</label>
                        <div class="col-lg-3">
                                <p>@Html.DisplayFor(m => m.Depth) m</p>
                        </div>
                        <label class="col-lg-1 control-label">* @Resources.FormsResources.Width:</label>
                        <div class="col-lg-3">
                                <p>@Html.DisplayFor(m => m.Width) m</p>
                        </div>
                        <label class="col-lg-1 control-label">* @Resources.FormsResources.Height:</label>
                        <div class="col-lg-3">
                                <p>@Html.DisplayFor(m => m.Height) m</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-lg-offset-3 control-label">* @Resources.FormsResources.Size:</label>
                        <div class="col-lg-4">
                                <p>@Html.DisplayFor(m => m.Size) m3</p>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">* @Html.DisplayNameFor(m => m.ShelfsNumber):</label>
                        <div class="col-lg-1">
                            <p>@Model.ShelfsNumber</p>
                        </div>
                        <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.ShelfHeight):</label>
                        <div class="col-lg-1">
                            <p>@Html.DisplayFor(m => m.ShelfHeight)</p>
                        </div>
                        <label class="col-lg-2 control-label">* @Html.DisplayNameFor(m => m.DivitionsNumber):</label>
                        <div class="col-lg-1">
                            <p>@Model.DivitionsNumber</p>
                        </div>
                        <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.DivitionWidth):</label>
                        <div class="col-lg-1">
                            <p>@Html.DisplayFor(m => m.DivitionWidth)</p>
                        </div>
                    </div>
                    <br>
                </fieldset>

                <!-- Capacity Info -->
                <fieldset id="product-form-sizeinfo" name="product-form-sizeinfo">
                    <legend>@Resources.FormsResources.CapacityInfo:</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">@Resources.FormsResources.Capacity:</label>
                        <div class="col-lg-2">
                                <p>@Html.DisplayFor(m => m.Size) m3</p>
                        </div>
                        <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.UsedSpace):</label>
                        <div class="col-lg-2">
                                <p>@Html.DisplayFor(m => m.UsedSpace) m3</p>
                        </div>
                        <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.UsedPercentage):</label>
                        <div class="col-lg-2">
                                <p>@Html.DisplayFor(m => m.UsedPercentage) %</p>
                        </div>
                    </div>
                    <br/>
                </fieldset>
                <div class="form-group">
                    <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Categories):</label>
                    <div class="col-lg-4">
                        <p>@Model.Categories</p>
                    </div>
                </div>
                <br>
                <div class="btn-toolbar center-block">
                    @Html.ActionLink(@Resources.FormsResources.Ok, "Index", "RacksABM", new {SelectedValue = Model.DistributionCenter, DepositID = Model.DepositID, SectorID = Model.SectorID, HallID = Model.HallID }, new { @class = "btn btn-primary", @id = "Ok" })
                    @Html.ActionLink(@Resources.FormsResources.Edit, "FormEdit", "RacksForms", new { RackID = Model.RackID }, new { @class = "btn btn-default", @id = "Edit" })
                    @Html.ActionLink(@Html.Resource("EditDistributionCenter"), "FormEdit", "DistributionCenterForms", new { id = Model.DistributionCenter }, new { @id = "EditDistributionCenter", @class = "btn btn-default", @onclick = "sessionStorage.clear();" })
                    @Html.ActionLink(@Html.Resource("EditDeposit"), "FormEdit", "DepositsForms", new { DepositID = Model.DepositID }, new { @id = "EditSector", @class = "btn btn-default", @onclick = "sessionStorage.clear();" })
                    @Html.ActionLink(@Html.Resource("EditHall"), "FormEdit", "HallsForms", new { HallID = Model.HallID }, new { @id = "EditSector", @class = "btn btn-default", @onclick = "sessionStorage.clear();" })
                </div>

            </fieldset>
        </div>
    </div>
</body>
</html>