@model Penates.Models.ViewModels.Users.ChangeMyPasswordViewModel
@{
    ViewBag.Title = @Html.Resource("Title");
}
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-background.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-extension.css" rel="stylesheet" />

    <script type="text/javascript" title="Save Form Data">
    $(document).ready(function () {
        $(window).on('beforeunload', function () {
            sessionStorage.setItem('UserName', $('#UserName').val());
        });
    });
    </script>

    <script type="text/javascript" title="Load Form Data">
    $(document).ready(function () {
        var aux = sessionStorage.getItem('UserName');
        if (aux != null && aux != "") $('#UserName').val(aux);
    });
    </script>
</head>
<body>
    <div class="container">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ChangeMyPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label">@Html.DisplayNameFor(m => m.UserName):</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.UserName, new { disabled = "disabled", @class = "form-control" })
                        <div class="form-group" hidden>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">* @Html.DisplayNameFor(m => m.OldPassword):</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.OldPassword, new { type = "password", required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">* @Html.DisplayNameFor(m => m.NewPassword):</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.NewPassword, new { type = "password", required = "required", @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">* @Html.DisplayNameFor(m => m.ConfirmPassword):</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", required = "required", @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            <br>
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-success" id="Save">@Resources.FormsResources.Confirm</button>
                @Html.ActionLink(@Resources.FormsResources.Cancel, "HomeDashboards", "Home", null, new { @class = "btn btn-default", @id = "Cancel" })
            </div>
        }
    </div>
</body>