@model Penates.Models.ViewModels.ABMs.ABMViewModel
@using Penates.Models

@{
    ViewBag.Title = "RoleEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <title>@Html.Resource("Title")</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-extension.css" rel="stylesheet" />
    <script src="~/Scripts/Plugins/globalParams.js"></script>
    <meta charset=utf-8 />

    <script>
        $(document).ready(function () {
            $("#tableRefresh").click(function (e) {
                window["@Model.tableRefresh"]();
            });
        });
    </script>
    <script type="text/javascript" title="Global Parameters">
    var globalParams = new ParametrosGlobales();
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>@Html.Resource("Title")</h3>
            @if (@Model.Message != null && @Model.Message != "") {
                if (@Model.Error == null || @Model.Error == false) {
                    <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Model.Message
                    </div>
                } else {
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Model.Message
                    </div>
                }
            }
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <a id="tableRefresh" class="btn btn-default btn-lg btn-xs">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{Html.RenderPartial("~/Views/User/Tables/_RoleTable.cshtml", new TableAjaxViewModel(@Model.tableID) {
            AjaxRequest = @Url.Action("ABMAjax", "Roles"),
            RefreshFunction = @Model.tableRefresh,
            useDefault = true,
            ServerProcessing = false
        });}
    </div>
</body>
</html>

